Package: com.silence.test
Name: tweak_test
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Silence
Author: Silence
Section: Tweaks
Version: 0.0.1-2+debug
Installed-Size: 152
