Package: com.silence.ting
Name: tingtweak
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Silence
Author: Silence
Section: Tweaks
Version: 0.0.1-3+debug
Installed-Size: 152
